.socials {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

.socials a {
    text-decoration: none;
    color: #333;
    font-size: 1.9rem;
    padding: 0.4rem;
}

.socials a:hover {
    color: #000;
    transform: translateY(-1px);
}