.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.8rem;
}

.socials a {
    text-decoration: none;
    color: #333;
}

.socials a:hover {
    text-decoration: underline;
}